header {
    margin-top: -50px;
    height: 150px;
    text-align: center;
    padding: 20px;
    background-color:#F7F6FB
}
.brand {
    font-family: 'Recursive', sans-serif;
    font-size: 55px;
    color: #300EDA;

}