/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@800&display=swap');

.drop-shadow {
    -webkit-box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3);
    -moz-box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3);
    box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3);
}